<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.foi.facebook">
<application>
    <provider android:authorities="com.facebook.app.FacebookContentProvider1225517157549740"
        android:name="com.facebook.FacebookContentProvider"
        android:exported="true"
        />
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>


    android:authorities="com.facebook.app.FacebookContentProvider1225517157549740"
    android:exported="true" />
</application>
</manifest>




