<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.foi.vodickulturnihdogadanja.twitter" >

    <application>
        <activity android:name="com.twitter.sdk.android.core.identity.OAuthActivity" />
        <receiver
            android:name="hr.foi.vodickulturnihdogadanja.TwitterSharingManager"
            android:exported="false">
            <intent-filter>
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_SUCCESS"/>
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_FAILURE"/>
                <action android:name="com.twitter.sdk.android.tweetcomposer.TWEET_COMPOSE_CANCEL"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
